.hero {
    background-position: 50% 0%;
    background-size: cover;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    padding: 0 7vw 7vw 7vw;
    position: relative;

    picture{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        }
    }

    .esquerda,
    .direita {
        width: 30%;
        z-index: 3;
    }

    .esquerda {
    h3 {
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 4px;
    }
        h1 {
        font-size: 3.7vw;
        font-family: "Benguiat";
        }
    }

    .direita {
    display: flex;
    flex-direction: column;
    align-items: end;
        p {
        font-size: 2vw;
        margin-bottom: 32px;
        text-align: end;
        }
    }
}

.hero:before{
    content: "";
    background: linear-gradient(180deg, rgba(12, 1, 2, 0.00) 0%, #0C0102 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
}

@media (max-width: 600px) {
.hero {
    flex-direction: column;
    padding: 26% 4vw 0;

    .esquerda,
    .direita {
        width: 100%;
    }

    .esquerda {
        h3,
        h1 {
        text-align: center;
        }

    h1 {
        font-size: 12vw;
        }
    }

    .direita {
        align-items: start;
            p {
            font-size: 5.5vw;
            text-align: start;
            margin-bottom: 16px;
            }
        }
    }
}