@use "_preloader";
@use "_hero";
@use "_section_cidade";
@use "_section_depoimento";
@use "_section_obrigado";
@use "_footer";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Benguiat";
    src: url(fontes/Benguiat\ Bold.ttf);
}

html,
body {
    overflow-x: hidden !important;
}

body {
    background-color: #0c0102;
    color: rgba(255, 255, 255, 0.9);
    font-family: "Poppins";
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 4vw;
    position: absolute;
    z-index: 9;
}

section {
    width: 100%;
    display: flex;
    padding: 7vw;
}

h2 {
    font-size: 40px;
    font-weight: 500;
}

button {
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-size: 16px;
    display: flex;
    gap: 12px;
    border: none;
    outline: none;
    padding: 16px 0px;
    border-bottom: 1px solid white;
}

ul {
    list-style-type: none;
}

@media (max-width: 600px) {
    section {
    padding: 4vw;
    }
    h2 {
    font-size: 6vw;
    }

    header h2 {
    font-size: 28px;
    }
}