.secaoObrigado {
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #0C0102;
    z-index: 2;

    h2 {
    margin-bottom: 40px;
    }

    ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    }
}


@media (max-width: 600px) {
    .secaoObrigado {
        margin: 40px 0px 60px;
    h2 {
        text-align: center;
    }
    ul {
        width: max-content;
        gap: 32px;
    }
    }
}